* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

body {
    /* min-width: 1440px; */
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Montserrat';
    /* шрифт костыль */
}

:root {
    --main-color: #424A57;
    --accent-color: #0096A7;
    --black: #000000;
    --white: #ffffff;
}

.container {
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
    width: 100%;
}

.hidden-title {
    display: none;
}

/* header */

.header {
    padding: 55px 0 45px 0;
    background-color: var(--main-color);
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item-link {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 183%;
    color: #E1E1E1;
    outline: 2px solid transparent;
    outline-offset: 4px;
    transition: color .3s ease-in-out, outline .3s ease-in-out, transform .3s ease-in-out;
}

.nav__item-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14%;
    width: 100%;
    height: 3px;
    background-color: var(--accent-color);
    opacity: 0;
    transform: scale(0);
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
}

.nav__item-link:focus {
    outline: 2px solid var(--accent-color);
}

.nav__item-link:hover::after {
    opacity: 1;
    transform: scale(1);
    background-color: var(--accent-color);
}

.nav__item-link:active::after {
    opacity: 0;
    transform: scale(0);
    background-color: var(--accent-color);
}

.nav__item-link:active {
    color: var(--accent-color);
    outline: 2px solid transparent;
}

.nav__item:not(:last-child) {
    margin-right: 32px;
}

/* swiper */

.swiper {
    position: relative;
    width: 1340px;
    height: 553px;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 4px solid var(--accent-color);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--accent-color);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 5.5%;
    left: -3.7%;
}

/* hero */


.hero {
    padding: 100px 0;
    background-color: #f6f8fb;
}

.hero__wrapper {
    display: flex;
}

.hero__left {
    margin-right: 59px;
    height: 450px;
    min-width: 590px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__left--1 {
    background-image: url("../img/hero-img.jpg");
}

.hero__left--2 {
    background-image: url("../img/hero-img-2.jpg");
}

.hero__left--3 {
    background-image: url("../img/hero-img-3.jpg");
}

.hero__right {
    display: flex;
    flex-direction: column;
    padding-top: 27px;
}

.hero__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 54px;
    line-height: 119%;
    color: var(--main-color);
}

.hero__text {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 27px;
    line-height: 141%;
    color: var(--black);
}

.hero__text--3 {
    width: 75%;
}

.hero__link {
    padding: 16px 32px;
    align-self: flex-start;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 20px;
    color: var(--white);
    background-color: var(--accent-color);
    outline: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: outline .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;
}

.hero__link:focus {
    outline: 2px solid var(--accent-color);
    background-color: var(--main-color);
    color: var(--white);
}

.hero__link:hover {
    background-color: var(--main-color);
    color: var(--white);
}

.hero__link:active {
    outline: 2px solid var(--accent-color);
    background-color: var(--main-color);
    color: var(--accent-color);
}

/* tabs */

.tabs__content {
    display: none;
}

.tabs__content--active {
    display: block;
}

.tabs__list {
    position: relative;
    display: flex;
    margin-bottom: 32px;
}

.tabs__list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1%;
    width: 86%;
    height: 1px;
    background-color: rgba(66, 74, 87, 0.5);
}

.tabs__item:not(:last-child) {
    margin-right: 33px;
}

.tabs__btn {
    font-weight: 700;
    font-size: 24px;
    line-height: 183%;
    color: rgba(66, 74, 87, 0.5);
    transition: color .3s ease-in-out;
}

.tabs__btn:hover {
    color: var(--accent-color);
}


.tabs__btn--active {
    position: relative;
    color: var(--accent-color);
    pointer-events: none;
}

.tabs__btn--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1%;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    z-index: 1;
}

/* features */

.features {
    padding: 85px 0 43px 0;
    background-color: var(--white);
}

.tabs__content-text {
    width: 70%;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: var(--black);
}

/* benefits */

.benefits {
    padding: 43px 0 85px 0;
}

.benefits__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: var(--main-color);
}

.benefits__list {
    display: flex;
    justify-content: space-between;
}

.benefits__item:not(:last-child) {
    margin-right: 20px;
}

.benefits__item-img {
    margin-bottom: 33px;
    min-width: 400px;
    height: 317px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.benefits__item-img--1 {
    background-image: url("../img/benefits-img-1.jpg");
}

.benefits__item-img--2 {
    background-image: url("../img/benefits-img-2.jpg");
}

.benefits__item-img--3 {
    background-image: url("../img/benefits-img-3.jpg");
}

.benefits__item-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 183%;
    color: var(--main-color);
}

.benefits__item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: var(--black);
}

/* footer  */

.footer {
    padding: 47px 0;
    background: var(--main-color);
}


.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    font-weight: 700;
    font-size: 24px;
    line-height: 183%;
    color: var(--white);
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
}

.footer__social-item:not(:last-child) {
    margin-right: 24px;
}

.footer__social-item rect {
    fill: var(--white);
    transition: fill .3s ease-in-out;
}

.footer__social-item:focus-within rect {
    fill: var(--accent-color);
}

.footer__social-item:hover rect {
    fill: var(--white);
}

.footer__social-item:active rect {
    fill: var(--accent-color);
}

.footer__social-item path {
    fill: var(--black);
    transition: fill .3s ease-in-out;
}

.footer__social-item:focus-within path {
    fill: var(--white);
}

.footer__social-item:hover path {
    fill: var(--accent-color);
}

.footer__social-item:active path {
    fill: var(--black);
}